#div1 {
    height: 50px;
    width: 50px;
    background-color: yellow;
    margin: auto;
   }

#div2 {
    height: 50px;
    width: 50px;
    background-color: blue;
    position: fixed; 
    margin: 20px 0px 0px 20px;
}

#div3 {
    height: 50px;
    width: 50px;
    background-color: green;
    position: fixed; 
    margin: 20px 0px 0px 20px
}